.con{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #76daff;
  overflow: hidden;
  top: 100%;
  transition: top 0.2s ease;
  .bar{
    transition: all 0.2s ease;
    width: 100%;
    height: 100%;
    position: relative;
    // background-color: #00000066;
    // left: 0%;
    &::before,
    &::after{
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        top: 0;
        left: 50%;
        background-color: rgba(255, 255, 255, .4);
        border-radius: 45%;
        transform: translate(19%, -40%) rotate(0);
        animation: rotate 6s linear infinite;
        z-index: 1;
    }
    &::after {
      border-radius: 47%;
      background-color: rgba(255, 255, 255, .9);
      transform: translate(19%, -40%) rotate(0);
      animation: rotate 10s linear -5s infinite;
      z-index: 2;
  }
  }
  .complete{
    transition: all 1s ease;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2d334c;
    // top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }
}

@keyframes rotate {
  50% {
      transform: translate(19%, -43%) rotate(180deg);
  } 100% {
      transform: translate(19%, -40%) rotate(360deg);
  }
}