.dash{
  width: 100%;
  height: 100%;
  min-width: 1700px;
  // overflow-y: scroll;
  box-sizing: border-box;
  .recoverSize{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

